<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OfficeCore login</title>
</head>
<body>
    <h2>Login </h2>

    <!-- Success messages -->
    <ul>
        <% if (messages.success_msg && messages.success_msg.length > 0) { %>
            <% messages.success_msg.forEach(msg => { %>
                <li><%= msg %></li>
            <% }) %>
        <% } %>
    </ul>

    <!-- Error messages -->
    <ul>
        <% if (messages.error && messages.error.length > 0) { %>
            <% messages.error.forEach(msg => { %>
                <li><%= msg %></li>
            <% }) %>
        <% } %>
    </ul>

    <form action="/login" method="post"> <br>
      <input id="mail" type="email" name="email" placeholder="Enter your email">
      <br><br>
      <input id="pass" type="password" name="password" placeholder="Enter your password">
      <br><br>
      <button type="submit">Submit</button>
    </form>

    <br><a href="/register">If not registered, please register here</a>

    <footer>
        <p>© 2025 OfficeCore</p>
    </footer>
</body>
</html>
