<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OfficeCore Registration page</title>
    
</head>
<body>
  <ul>
    <% if(error){ %>
      <% error.forEach(err=>{ %>
        <li><%=err.message %></li>
      <%}) %>
    <%}%>
  </ul>
  <form action="register" method="post">
    <input type="text" name="name" placeholder="enter your name" required><br>

    <br><input type="email" name="email" placeholder="enter your email" required><br>
    <br><input type="password" name="password" placeholder="enter your password" required><br>
    <br><input type="password" name="conpass" placeholder="confirm your password" required>
    <br><button type="submit">Submit</button>
  </form>

  
  <p>already registered ? <a href="/login">login here</a></p>

    <footer>
        <p>© 2025 OfficeCore</p>
    </footer>
</body>
</html>
